<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <title>EatDaBurger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../models/burger.js"></script>
</head>

<body>
    <img id="burgerImg" src="../../public/assets/img/kisspng-hamburger-cheeseburger-veggie-burger-cartoon-clip-burgers-cliparts-5a765957172ac5.5106154015177055590949.jpg" alt="burger">
    {{{ body }}}
</body>

</html>