body {
    background-color: goldenrod;
}

#burgerImg, .btn {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    text-align: center;
}

.container {
    margin-top: 5%;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.addBurger {
    padding: 5px;
    margin: 5px;
}

.form-group {
    margin-bottom: 5px;
}

.submitBtn {
    margin-top: 3%;
}
  